@charset "utf-8";
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    font-size: 40pt;
    color: #000000;
    margin: 0px;
    padding: 0px;
}

td {
	font-family: Arial, Helvetica, sans-serif;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	font-weight: 600;
	font-variant: normal;
	text-transform: none;
	color: #0000ff;
	text-decoration: none;
}




th {
	font-family: Arial, Helvetica, sans-serif;
}

a:active {
	text-decoration: none;
	color: #800040;
}


a:hover {
	text-decoration: none;
	color: #DF0000;
}

a:visited {
	text-decoration: none;
	color: #660099;
}

a:link {
    color: #0000ff;
    text-decoration: none;
}
.caption {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
	text-decoration: none;
}


.cee {
	font-family: "Brush Script Std";
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	color: #AA0000;
}
.pee {
	font-family: "Brush Script Std";
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #0000FF;
}


.petma_style {
	font-family: "Brush Script Std";
	font-size: 20px;
	color: #757575;
	font-weight: bold;
}


.petma_copyright_style {
	font-family: "Brush Script Std";
	font-size: 14px;
	color: #757575;
	font-weight: bold;
}


.cee_copyright {
	font-family: "Brush Script Std";
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	color: #AA0000;
}
.pee_copyright {
	font-family: "Brush Script Std";
	font-size:14px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #0000FF;
}

.ma_copyright {
	font-family: "Brush Script Std";
	font-size:14px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #AA0000;
}


#main .name_img {
	margin: 0px;
	padding: 0px;
}

#container {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-image: url(images/container_background.png);
}
#logo {
	float: left;
	width: 250px;
	padding-left: 10px;
}
.logo_img {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-top: 0px;
}
#title {
	float: right;
	width: 620px;
	padding-left: 30px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
}
#title p {
    font-size: 32px;
    color: #990033;
    font-style: normal;
}
#topnav {
	font-size: small;
	font-weight: 300;
	color: #000000;
	font-style: italic;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	clear: both;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	background-image: url(images/nav_background.png);
	border: 1px none #969696;
	height: 20px;
	background-repeat: no-repeat;
}
#topnav ul {
	padding: 0px;
	margin: 0px;
	color: #66FF33;
}
#topnav li {
	display: inline;
	margin-right: 40px;
	margin-left: 40px;
	list-style-type: none;
	margin-bottom: 0px;
	color: #6633FF;
}

#main {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: 500;
	font-style: normal;
	margin-right: 80px;
	margin-left: 100px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	width: 750px;
}
#main p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: 600;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#main li {
	color: #000000;
	padding-bottom: 11px;
	font-weight: 600;
}
#right {
	color: #00CC33;
	float: right;
	width: 110px;
	margin: 0px;
	padding-top: 29px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
}
#right p {
	font-family: "Brush Script Std";
	font-size: 12px;
	font-style: italic;
	color: #FFFFFF;
}
#right  .hidden {
	color: #FFFFFF;
}


#left {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	float: left;
	height: auto;
	width: 80px;
	margin: 0px;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
}
#left p {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	color: #000000;
}

#botnav {
	font-size: small;
	font-weight: 300;
	color: #000000;
	font-style: italic;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	clear: both;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	border: 1px none #969696;
	background-image: url(images/nav_background.png);
	height: 20px;
	background-repeat: no-repeat;
}
#botnav ul {
	padding: 0px;
	margin: 0px;
}
#botnav li {
	display: inline;
	list-style-type: none;
	margin-bottom: 0px;
	padding: 0px;
	margin-top: 0px;
	margin-left: 40px;
	margin-right: 40px;
}
#beta {
	background-color: #FFFFFF;
	background-image: url(images/nav_background.png);
	height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
	color: #000033;
}
#beta ul {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 60px;
	display: inline;
	margin: 0px;
}
#beta a {
	color: #000066;
}
#beta p {
	color: #993333;
}
#beta li {
	display: inline;
	list-style-type: none;
	margin-right: 15px;
	margin-left: 15px;
	font-size: 10px;
}


#copyright {
	font-family: "Brush Script Std";
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	font-style: normal;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	margin: 0px;
	
}


#copyright .hidden {
	font-family: "Brush Script Std";
	font-size: 14px;
	color: #CC3333;
}
